.navbar .navbar-title{
    position: relative;
    width: 180px;
}

.navbar-title h2{
    width: 180px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
}

.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #43a047;
    color: white;
    list-style-position: initial;
}

.navbar .navbar-links{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .navbar-links ul{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;
    padding: 0;
    list-style: none;
}

.navbar .navbar-search{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 30px;
}

.navbar .navbar-links ul li{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .4s;
    font-weight: 300;
}
.menu {
    display: none;
}
.navbar-links ul li:hover{
    background-color: #76d275;
}

.navbar .--active{
    background-color: #76d275;
}
.navbar .menu-btn{
  visibility: hidden;
}
@media screen and (max-width: 900px){
    .navbar .navbar-links ul{
        display: none;
    }
    
    .navbar .navbar-search{
        display: none;
    }
   .navbar .menu-btn:checked ~ .menu {
    display: inline-block;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 60px;
    left: 0px;
    z-index: 1000
   
}
.navbar  .navbar-links ul{
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  

}
.navbar  .navbar-links ul li{
  width: 100%;
  background-color: #43a047;
}
.navbar  .navbar-links ul li a{
  width: 100%;
}

.navbar .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.navbar .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.navbar .menu-icon .navicon:before {
  top: 5px;
}

.navbar .menu-icon .navicon:after {
  top: -5px;
}

.navbar .menu-btn {
  display: none;
}

.navbar .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}